
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Jost', sans-serif;
}
#hero {
    background-image: url(../coolPic.jpg);
    background-position: top left;
    background-size: cover;
    height: 70vh;
    padding: 50px;
}

header {
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    color: black;
    text-decoration: none;

}
nav ul li {
    margin: 0px 25px;
}

nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
nav a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
}

#heading {
    color: blue;
    font-size: 60px;
}
p {
    margin-bottom: 60px;
}

.btn {
    text-decoration: none;
    color: blue;
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 6px 12px;
    margin-bottom: 60px;
}

#like {
    height: 20px;
    width: 40px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 40px;
}